<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "info",user: @user %>
    </div>
    <div class="col-7 offset-1">
      <h2 class="title">ユーザー一覧</h2>
      <table class="table">
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th></th>
        </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= link_to user.name,user_path(user.id) %></td>
        <td></td>
      </tr>
      <% end %>
      </table>

      <div class="row mx-auto justify-content-center">
     <%= paginate @users %>
    </div>

    </div>
  </div>
</div>


