<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"><%= @user.name %>さんの投稿</h3>

      <div class="d-flex flex-wrap">
       　<%= render 'admin/posts/index', posts: @posts %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
