<div class="navbar">
  <% if user_signed_in? %>

      <% else %>
    <div class="ml-auto">
      <%= link_to "トップへ",root_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "　紹介　",about_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "新規登録",new_user_registration_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "ログイン",new_user_session_path,class: "btn btn-secondary mr-3" %>
    </div>
      <% end %>
</div>